---
import Layout from "../../layouts/Layout.astro";
import Blueprint from "../../components/Blueprint.astro";
export async function getStaticPaths() {
	const pages = [
		{
			map: "BANK",
			title: {
				text: "BANK",
				background: "maps/r6-bank.png",
			},
			text: {
				Location: "Location:  LOS ANGELES, CALIFORNIA",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: Ranked, Quick Match",

			},
			video: {
				img: "video-img/r6-ash-v-img.png",
				video: "videos/r6-ash-v.mp4",
			},
            blueprints: {
                
            },
		},
	
	];
	return pages.map(({ map, title ,text, video, blueprints }) => {
		return {
			params: { map: map },
			props: { title, text, video, blueprints },
		};
	});
}

const { title, text, video, blueprints } = Astro.props;
---

<script>
	document.getElementById("play-button")?.addEventListener("click", () => {
		let video = document.querySelector("video");
		if (!video) return;
		video.style.display = "block";
		video.play();
	});
</script>
<!DOCTYPE html>
<Layout>
	<main>
		<h1>
			<div class="main-title">
				<div class="title">
					<div class="content-title">{title.text}</div>
				</div>
			</div>
			<div class="properties">
				<p class="text" set:html={text.Location}></p>
				<p class="text" set:html={text.Released}></p>
				<p class="text" set:html={text.Playlists}></p>
			</div>
            <div class="blueprint">
            </div>
		</h1>
	</main>
</Layout>

<style>
	.tip {
		max-width: 55%;
	}
	.text {
		font-size: 16px;
		font-family: Roboto, sans-serif;
		letter-spacing: 0.5px;
	}
	
	.title {
		display: flex;
		flex-direction: row;
	
	}

	.main-title {
		display: flex;
		flex-direction: column;
		z-index: 4;
		margin-right: 800px;
		padding: 25px;
	}

	.properties {
		display: flex;
		flex-direction: column;
		align-items: left;
	}

	body {
		background-image: url(../background/background.jpg);
		background-repeat: repeat-y;
		background-size: contain;
	}

	
	main {
		display: flex;
		flex-direction: column;
		align-items: left;
		max-width: auto;
		width: 100%;
		margin-top: 100px;
	}

	.content-title {
		color: #edf0f1;
		font-size: 70px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;

		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		filter: drop-shadow(2px 2px 2px #151d30);
	}

	h1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 800px;
		gap: 0.5em;
	}

	p {
		color: #edf0f1;
		font-size: 25px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;
	}
</style>
