---
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
	const pages = [
	    {
			map: "BANK",
			title: {
				text: "BANK",
				background: "maps/r6-bank.png",
			},
			text: {
				Location: "Location:  LOS ANGELES, CALIFORNIA",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: Ranked, Quick Match",

			},
			video: {
                video: "videos/r6-bank-v.mp4",
				img: "video-img/r6-bank-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-bank-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-bank-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-bank-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-bank-blueprint-4.jpg",
		    ],
		},
		{
			map: "BORDER",
			title: {
				text: "BORDER",
				background: "maps/r6-border.png",
			},
			text: {
				Location: "Location: MIDDLE EAST",
				Released: "Released: Dust Line (May 2016)",
				Playlists:"Playlists: Quick Match, Ranked",

			},
			video: {
                video: "videos/r6-border-v.mp4",
				img: "video-img/r6-border-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-border-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-border-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-border-blueprint-3.jpg",
		    ],
		},
		{
			map: "CHALET",
			title: {
				text: "CHALET",
				background: "maps/r6-chalet.png",
			},
			text: {
				Location: "Location:  COURCHEVEL, France",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: New Comer, Quick Match, Ranked",

			},
			video: {
                video: "videos/r6-chalet-v.mp4",
				img: "video-img/r6-chalet-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-chalet-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-chalet-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-chalet-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-chalet-blueprint-4.jpg",
		    ],
		},
		{
			map: "CLOSE QUARTERS",
			title: {
				text: "CLOSE QUARTERS",
				background: "maps/r6-closequarter.png",
			},
			text: {
				Location: "Location: Greece",
				Released: "Released: Operation Vector Glare (June 2022)",
				Playlists:"Playlists: Team Deathmatch",

			},
			video: {
                video: "videos/r6-closequarter-v.mp4",
				img: "video-img/r6-closequarter-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-closequarter-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-closequarter-blueprint-2.jpg",
				],
		},
		{
			map: "CLUBHOUSE",
			title: {
				text: "CLUBHOUSE",
				background: "maps/r6-clubhouse.png",
			},
			text: {
				Location: "Location: HANOVER, GERMANY",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: New Comer, Quick Match, Ranked",

			},
			video: {
				img: "video-img/r6-clubhouse-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-clubhouse-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-clubhouse-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-clubhouse-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-clubhouse-blueprint-4.jpg",
		    ],
		},
		{
			map: "COASTLINE",
			title: {
				text: "COASTLINE",
				background: "maps/r6-coastline.png",
			},
			text: {
				Location: "Location: IBIZA, SPAIN",
				Released: "Released: Velvet Shell (February 2017)",
				Playlists:"Playlists: Quick Match, Ranked, New Comer, Team Deathmatch",

			},
			video: {
				img: "video-img/r6-coastline-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-coastline-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-coastline-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-coastline-blueprint-3.jpg",
		    ],
		},
		{
			map: "CONSULATE",
			title: {
				text: "CONSULATE",
				background: "maps/r6-consulate.png",
			},
			text: {
				Location: "Location: ABIDJAN, IVORY COAST",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: Quick Match, Ranked",

			},
			video: {
				img: "video-img/r6-consulate-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-consulate-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-consulate-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-consulate-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-consulate-blueprint-4.jpg",
		    ],
		},
		{
			map: "EMERALD PLAINS",
			title: {
				text: "EMERALD PLAINS",
				background: "maps/r6-emerald plains.png",
			},
			text: {
				Location: "Location: Ireland",
				Released: "Released: Demon Veil (April 2022)",
				Playlists:"Playlists: Quick Match, Ranked, Team Deathmatch",

			},
			video: {
                video: "videos/r6-emeraldplain-v.mp4",
				img: "video-img/r6-emerald-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-emeraldplains-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-emeraldplains-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-emeraldplains-blueprint-3.jpg",
		    ],
		},
		{
			map: "FAVELA",
			title: {
				text: "FAVELA",
				background: "maps/r6-favela.png",
			},
			text: {
				Location: "Location: BRAZIL",
				Released: "Released: Skull Rain (August 2016)",
				Playlists:"Playlists: Quick Match, Ranked, Team Deathmatch",

			},
			video: {
				img: "video-img/r6-favela-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-favela-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-favela-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-favela-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-favela-blueprint-4.jpg",
				 "maps_blueprints/r6-maps-favela-blueprint-5.jpg",
		    ],
		},
		{
			map: "FORTRESS",
			title: {
				text: "FORTRESS",
				background: "maps/r6-fortress.png",
			},
			text: {
				Location: "Location: MOROCCO",
				Released: "Released: Wind bastion (December 2018)",
				Playlists:"Playlists: Quick Match",

			},
			video: {
				img: "video-img/r6-fortress-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-fortress-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-fortress-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-fortress-blueprint-3.jpg",
		    ],
		},
		{
			map: "HEREFORD",
			title: {
				text: "HEREFORD",
				background: "maps/r6-hereford.png",
			},
			text: {
				Location: "Location: UNITED KINGDOM",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: Quick Match",

			},
			video: {
                video: "videos/r6-hereford-v.mp4",
				img: "video-img/r6-hereford-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-hereford-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-hereford-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-hereford-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-hereford-blueprint-4.jpg",
				 "maps_blueprints/r6-maps-hereford-blueprint-5.jpg",
		    ],
		},
		{
			map: "HOUSE",
			title: {
				text: "HOUSE",
				background: "maps/r6-house.png",
			},
			text: {
				Location: "Location: LOS ANGELES, CALIFORNIA",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: Quick Match",

			},
			video: {
				img: "video-img/r6-house-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-house-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-house-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-house-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-house-blueprint-4.jpg",
		    ],
		},
		{
			map: "KAFE",
			title: {
				text: "KAFE",
				background: "maps/r6-kafe.png",
			},
			text: {
				Location: "Location: MOSCOW, RUSSIA",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: New Comer, Quick Match, Ranked",

			},
			video: {
                video: "videos/r6-kafe-v.mp4",
				img: "video-img/r6-kafe-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-kafe-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-kafe-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-kafe-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-kafe-blueprint-4.jpg",
		    ],
		},
		{
			map: "KANAL",
			title: {
				text: "KANAL",
				background: "maps/r6-kanal.png",
			},
			text: {
				Location: "Location: HAMBURG, GERMANY",
				Released: "Released: Launch (December 2015)",
				Playlists:"Playlists:  Ranked, Quick Match",

			},
			video: {
				img: "video-img/r6-kanal-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-kanal-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-kanal-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-kanal-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-kanal-blueprint-4.jpg",
				 "maps_blueprints/r6-maps-kanal-blueprint-5.jpg",
		    ],
		},
		{
			map: "NIGHTHAVEN LABS",
			title: {
				text: "NIGHTHAVEN LABS",
				background: "maps/r6-nighthavenlabs.png",
			},
			text: {
				Location: "Location: Offshore",
				Released: "Released: Operation Solar Raid (December 2022)",
				Playlists:"Playlists: New Comer, Quick Match, Team Deathmatch, Ranked",

			},
			video: {
                video: "videos/r6-nighthavenlabs-v.mp4",
				img: "video-img/r6-nighthavenlabs-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-nighthavenlabs-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-nighthavenlabs-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-nighthavenlabs-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-nighthavenlabs-blueprint-4.jpg",
		    ],
		},
		{
			map: "OREGON",
			title: {
				text: "OREGON",
				background: "maps/r6-oregon.png",
			},
			text: {
				Location: "Location: REDMOND, OREGON",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: New Comer, Quick Match, Ranked",

			},
			video: {
				img: "video-img/r6-oregon-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-oregon-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-oregon-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-oregon-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-oregon-blueprint-4.jpg",
				 "maps_blueprints/r6-maps-oregon-blueprint-5.jpg",
		    ],
		},
		{
			map: "OUTBACK",
			title: {
				text: "OUTBACK",
				background: "maps/r6-outback.png",
			},
			text: {
				Location: "Location: AUSTRALIA",
				Released: "Released: Burnt Horizon (March 2019)",
				Playlists:"Playlists:Quick Match, New Comer, Ranked",

			},
			video: {
				img: "video-img/r6-outback-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-outback-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-outback-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-outback-blueprint-3.jpg",
		    ],
		},
		{
			map: "PLANE",
			title: {
				text: "PLANE",
				background: "maps/r6-plane.png",
			},
			text: {
				Location: "Location: LONDON, UNITED KINGDOM",
				Released: "Released: Base game (December 2015)",
				Playlists:"Playlists: Quick Match",

			},
			video: {
				img: "video-img/r6-plane-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-plane-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-plane-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-plane-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-plane-blueprint-4.jpg",
		    ],
		},
		{
			map: "SKYSCRAPER",
			title: {
				text: "SKYSCRAPER",
				background: "maps/r6-skyscraper.png",
			},
			text: {
				Location: "Location:  NAGOYA, JAPAN",
				Released: "Released: Red Crow (November 2016)",
				Playlists:"Playlists:Quick Match, Ranked, Team Deathmatch",

			},
			video: {
				img: "video-img/r6-skyscraper-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-skyscraper-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-skyscraper-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-skyscraper-blueprint-3.jpg",
		    ],
		},
		{
			map: "STADIUM",
			title: {
				text: "STADIUM",
				background: "maps/r6-stadium.png",
			},
			text: {
				Location: "Location: Greece",
				Released: "Released: Operation Brutal Swarm (September 2022)",
				Playlists:"Playlists: New Comer, Quick Match, Ranked, Team Deathmatch",

			},
			video: {
				img: "video-img/r6-stadium-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-stadium-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-stadium-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-stadium-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-stadium-blueprint-4.jpg",
		    ],
		},
		{
			map: "THEMEPARK",
			title: {
				text: "THEMEPARK",
				background: "maps/r6-themepark.png",
			},
			text: {
				Location: "Location: HONG KONG",
				Released: "Released: Blood Orchid (August 2017)",
				Playlists:"Playlists: Quick Match, Ranked, Team Deathmatch",

			},
			video: {
				img: "video-img/r6-themepark-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-themepark-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-themepark-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-themepark-blueprint-3.jpg",
		    ],
		},
		{
			map: "TOWER",
			title: {
				text: "TOWER",
				background: "maps/r6-tower.png",
			},
			text: {
				Location: "Location: SEOUL, SOUTH KOREA",
				Released: "Released: White Noise (November 2017)",
				Playlists:"Playlists: Quick Match",

			},
			video: {
				img: "video-img/r6-tower-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-tower-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-tower-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-tower-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-tower-blueprint-4.jpg",
		    ],
		},
		{
			map: "VILLA",
			title: {
				text: "VILLA",
				background: "maps/r6-villa.png",
			},
			text: {
				Location: "Location: TUSCANY, ITALY",
				Released: "Released: Para Bellum (June 2018)",
				Playlists:"Playlists: Ranked, Quick Match, Team Deathmatch",

			},
			video: {
                video: "videos/r6-villa-v.mp4",
				img: "video-img/r6-villa-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-villa-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-villa-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-villa-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-villa-blueprint-4.jpg",
				 "maps_blueprints/r6-maps-villa-blueprint-5.jpg",
		    ],
		},
		{
			map: "YACHT",
			title: {
				text: "YACHT",
				background: "maps/r6-yacht.png",
			},
			text: {
				Location: "Location: BAFFIN BAY",
				Released: "Released: Black Ice (February 2016)",
				Playlists:"Playlists: Quick Match",

			},
			video: {
				img: "video-img/r6-yacht-v-img.png",
			},
            blueprints: [
                 "maps_blueprints/r6-maps-yacht-blueprint-1.jpg",
				 "maps_blueprints/r6-maps-yacht-blueprint-2.jpg",
				 "maps_blueprints/r6-maps-yacht-blueprint-3.jpg",
				 "maps_blueprints/r6-maps-yacht-blueprint-4.jpg",
				 "maps_blueprints/r6-maps-yacht-blueprint-5.jpg",
		    ],
		},

	
	];
	return pages.map(({ map, title ,text, video, blueprints }) => {
		return {
			params: { map: map },
			props: { title, text, video, blueprints },
		};
	});
}

const { title, text, video, blueprints } = Astro.props;
---

<script>
	document.getElementById("play-button")?.addEventListener("click", () => {
		let video = document.querySelector("video");
		if (!video) return;
		video.style.display = "block";
		video.play();
	});
</script>
<!DOCTYPE html>
<Layout>
	<main>
		<h1>
		<div class="band">
			<div class="main-title">
				<div class="title">
					<div class="content-title">{title.text}</div>
				</div>
			
			    <div class="properties">
				    <p class="text" set:html={text.Location}></p>
				    <p class="text" set:html={text.Released}></p>
				    <p class="text" set:html={text.Playlists}></p>
			    </div>
		    </div>
		    <div class="image">
			    <img width="400" src={"../" + video.img} />
				{ video.video&&   <img
				    id="play-button"
				    class="play-btn"
				    src="../video-img/play.png"
			    />}
			    <video
					id="video"
					width="400"
					controls
					src={"../" + video.video}></video>
			</div>
	</div>
		</h1>
            <div class="blueprint"> 
				{blueprints.map((blueprint: string)=>(
					<img class="bp" src={"../" +blueprint} />
				))}
            </div>
		<button class="button">DOWNLOAD BLUEPRINTS (.ZIP)</button>
	</main>
</Layout>

<style>
	.button{
		width: 310px;
		justify-content: center;
		align-self: center;
		letter-spacing: 1px;	
		font-size:25px;
		margin:50px;
		border-radius: 40px;
	}

	.bp{
        width: 400px;
	}

	.blueprint{
		display:flex;
        flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding:50px;
		gap: 1em;
	}
	.tip {
		max-width: 55%;
	}
	.text {
		font-size: 16px;
		font-family: Roboto, sans-serif;
		letter-spacing: 0.5px;
	}
	
	.title {
		display: flex;
		flex-direction: row;
	
	}

	.main-title {
		display: flex;
		flex-direction: column;
		z-index: 4;
		margin-right: 0px;
		padding: 25px;
	}

	.properties {
		display: flex;
		flex-direction: column;
		align-items: left;
		padding-bottom: 50px;
		padding-right: 50px;
	}

	body {
		background-image: url(../background/background.jpg);
		background-repeat: repeat-y;
		background-size: contain;
	}

	
	main {
		display: flex;
		flex-direction: column;
		align-items: left;
		max-width: auto;
		width: 100%;
	
	}

	.content-title {
		color: #edf0f1;
		font-size: 70px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;

		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		filter: drop-shadow(2px 2px 2px #151d30);
	}

	h1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 600px;
		gap: 0.5em;
	}

	p {
		color: #edf0f1;
		font-size: 25px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;
	}
	.play-btn {
		width: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		filter: invert(100%);
	}
	video {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		margin-right: 650px;
	}

	.image {
		position: relative;
		width: 400px;
		margin-right: 30px;
	}

	.play-btn:hover {
		filter: invert(100%) sepia(82%) saturate(780%) hue-rotate(97deg)
			brightness(104%) contrast(105%);
	}

	.band {
		height: 254px;
		width: 100%;
		background-color: rgba(37, 37, 40, 0.537);
		padding: 10px;
		z-index: 5;
		display: flex;
		justify-content: center;
		box-shadow: 0px 6px #00ffe563;
		backdrop-filter: blur(4px);
		margin-top:200px;
	}

</style>
