---
import Layout from "../layouts/Layout.astro";
import InputComp from "../components/InputComp.astro";
---

<Layout>

<script>
	document.querySelector("#reset").addEventListener("click", () => {
		location.reload();
	})
</script>
<main>
	<div class="column left">
			<h3>deeni_v_</h3>
				<img class="plat" src="siege logo/Platinum 2.png" />
				<p>RANKED</p> 
				<p>Platinum II</p>
	</div>
	<div class="column right">
			<h3>Contact Me</h3>
			<div class="form">
				<div class="row">
					<InputComp label="First Name"/>
					<InputComp label="Last Name"/>
				</div>
					<InputComp label="Email"/>
					<InputComp label="Message Subject"/>
					<InputComp label="Drop your message here"/>
					<button id="reset">Send Message</button>

			</div>
	</div>
</main>
	
</Layout>

<style>
	body {
        background-image: url("../background/footertreacker.png");
        background-size: cover;
		height: 100vh;
    }

	.column {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main {
		display: flex;
		height: calc(100% - 66px);
	}

	.left {
		width: 60%;
		background-color: #0000004b;
	}

	.right {
		margin-top: 66px;
		width: 40%;
		background-color: #000000c0;
	}

	p {
		color: white;
		font-size: 1.9em;
		letter-spacing: 0.5px;
	}

	h3 {
		color: #fff;
		font-size: 70px;
		font-weight: 700;
		letter-spacing: 0.5px;
	}

	.plat {
		width: 200px;
		margin-bottom: 25px;
	}

	.row {
		display: flex;
		gap: 10px;
		width: 100%;
	}

	.form {
		padding: 80px;
		width: 100%;
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 80px;
	}

</style>
