---
import Layout from "../layouts/Layout.astro";
---

<!DOCTYPE html>
<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<Layout>
	<body>

		<footer>
			<div class="footer_bg" id="Boo">
				<div class="col-md-7">
					<div class="user" id="buu">
						<h3>deeni_v_</h3>
					</div>
					<div class="trofee">
						<img class="plat" src="siege logo/Platinum 2.png" />
						<p>RANKED <br /> Platinum II</p>
					</div>
				</div>
				<div class="col-md-5 contact">
					<h3>Contact Me</h3>
					<form action="" class="contact-form">
						<div class="col-sm-6">
							<div class="input-block">
								<label for="">First Name</label>
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block">
								<label for="">Last Name</label>
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-block">
								<label for="">Email</label>
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-block">
								<label for="">Message Subject</label>
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-block textarea">
								<label for="">Drop your message here</label>
								<textarea rows="3" class="form-control"
								></textarea>
							</div>
						</div>
						<div class="col-sm-12">
							<button type="button">Send Message</button>
						</div>
					</form>
				</div>
			</div>
		</footer>
	</body>
</Layout>

<style>
	body {
        background-image: url(background/background.jpg);
        background-repeat: repeat-y;
        background-size: contain;
    }

	.bonbon{
		margin-top: 100px;
		font-family: Scout;
		font-size: 70px;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		filter: drop-shadow(2px 2px 2px #151d30);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 100px;
	}

	.footer button {
		color: #fff;
		background-color: transparent;
		border-radius: 25px;
		border: 2px solid #fff;
		padding: 10px;
		min-width: 300px;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 4px;
		transition: 0.3s ease-in;
		font-weight: 700;
	}

	.footer button:hover {
		background-color: #fff;
		color: red;
	}

	.hero {
		border-radius: 15px;
		box-shadow: 0px 0px 10px 0px rgba(64, 74, 92, 0.15);
		background-color: #fff;
		height: 360px;
		margin-top: -30px;
		position: relative;
		margin-bottom: 100px;
	}

	.hero > img {
		width: 100%;
		transition: 0.3s ease-in;
	}

	.hero .info {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #fff;
		width: 100%;
		text-align: center;
		border-radius: 0 0 15px 15px;
	}

	.hero-hidden {
		width: calc(100% - 40px);
		border-radius: 0 0 15px 15px;
		box-shadow: 0px 0px 10px 0px rgba(64, 74, 92, 0.15);
		padding: 10px;
		z-index: -2;
		position: absolute;
		bottom: 10px;
		left: 20px;
		transition: 0.2s ease-in;
	}


	.hero:hover .hero-hidden {
		bottom: -55px;
	}

	.hero h3 {
		font-size: 26px;
		font-weight: 700;
		margin: 10px 0 0;
	}

	.hero span {
		font-size: 16px;
		font-weight: 700;
		color: #9aa8c1;
		margin-bottom: 10px;
		float: left;
		width: 100%;
	}

	.darius h3 {
		color: #34495e;
	}

	.gnar h3 {
		color: #34495e;
	}

	.jhin h3 {
		color: #34495e;
	}

	.right {
		float: right;
	}

	.kda {
		position: absolute;
		content: "";
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		opacity: 0;
	}

	.hero:hover .kda {
		opacity: 1;
	}

	.hero:hover > img {
		opacity: 0.3;
	}

	.kda h2 {
		font-size: 50px;
		color: #000;
		font-weight: 700;
		margin: 0;
	}

	.kda span {
		font-weight: 400;
		color: #000;
		font-size: 16px;
		text-transform: uppercase;
	}

	footer {
		background-image: url("../background/footertreacker.png");
		background-size: cover;
		height: 100vh;
	}

	.footer_bg {
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
	}

	.col-md-7 {
		margin-top: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.user {
		font-family: Scout;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.user h3 {
		color: #fff;
		font-size: 70px;
		font-weight: 700;
		letter-spacing: 0.5px;
	}

	.trofee {
		text-align: center;
		color: #fff;
		font-size: 20px;
		
	}

	.plat {
		width: 200px;
		padding-bottom: 25px;
	}

	.contact {
		background-color: rgba(0, 0, 0, 0.8);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contact h3 {
		color: #fff;
		font-size: 50px;
	}
	/*Contact form style*/
	.contact-form {
		padding: 40px;
	}
	.contact-form .input-block {
		background-color: transparent;
		border: none;
		width: 100%;
		height: 60px;
		border-bottom: 2px solid #c0392b;
		margin: 0;
		position: relative;
		margin-bottom: 20px;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	.contact-form .input-block.focus {
	}
	.contact-form .input-block.textarea {
		height: auto;
	}
	.contact-form .input-block.textarea .form-control {
		height: auto;
		resize: none;
	}
	.contact-form .input-block label {
		position: absolute;
		left: 10px;
		top: 25px;
		display: block;
		margin: 0;
		font-weight: 400;
		z-index: 1;
		color: #fff;
		font-size: 18px;
		line-height: 10px;
	}
	.contact-form .input-block .form-control {
		background-color: transparent;
		margin: 0;
		outline: none;
		border: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		height: auto;
		padding: 30px 10px;
		width: 100%;
		position: relative;
		z-index: 2;
		font-size: 18px;
		color: #fff;
	}
	.contact-form .input-block .form-control:focus label {
		top: 0;
	}

	.contact-form .col-sm-12 {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 40px;
	}
</style>
