---
import Disc from '../components/Disc.astro';
import Layout from '../layouts/Layout.astro';
---
<!DOCTYPE html>
<Layout>
	<main>
		<Disc bg="home.discover/discover1.png">
			<div class="content">
				<div class="logogo">
					<img class="logo" src="/siege logo/r6s-y6-logo.webp">
				</div>
				<div class="text">"ONE OF THE BEST FIRST-PERSON SHOOTERS EVER MADE. 10/10"</div>
				<div class="mini-text">GAMESPOT</div>
			</div>
		</Disc>
		<Disc bg="home.discover/discover2.png">
			<div class="content2">
				<div class="text2">OUTPLAN TO OUTPLAY</div>
			    <div class="mini-text2">Elite, realistic, tactical team-based shooter where superior planning and execution triumphs.​</div>
			    <div class="mini-text3">5V5 ATTACK VS. DEFENSE <br>INTENSE CLOSE-QUARTER COMBAT<br> DESTRUCTIBLE ENVIRONMENTS​</div>
			    <div class="iconitze">

				    <div class="align"> <img class="ico1" src="/home.discover/discover-ico-op.png">
                     	<div class="info-nr">65+ OPERATORS</div>
					</div>
                 
					<div class="align" > <img class="ico2" src="/home.discover/discover-ico-map.png">
					 	<div class="info-nr">20+ MAPS</div>
				    </div>

					<div class="align" > <img class="ico3" src="/home.discover/discover-ico-weapon.png">
						<div class="info-nr">20+ MAPS</div>
				   </div>

				</div>
			</div>
		</Disc>
		<Disc bg="home.discover/discover3.png">
			<div class="content3">
				<div class="text3">ATTACK VS. DEFENSE</div>
			</div>
			
		</Disc>
		<Disc bg="home.discover/discover4.png">
			<div class="content4">
				<div class="text4">RAINBOW SIX ESPORTS</div>
			</div>
			
		</Disc>
		<Disc bg="home.discover/discover5.png">
			<div class="content5">
				<div class="text5">JOIN MORE THAN 85 MILLION PLAYERS</div>
			</div>
			
		</Disc>
	</main>
</Layout>

<style>
    main {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	
    .logogo{
		line-height: 360px;
		z-index: 1;
		margin-top: 25px;
	}
    
	.logo{
		width: 700px;
	}
    
	.info-nr{
		color: #eeeeee;
		font-size: 35px;
		text-align: center;
        line-height: 35px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 0px; 
	}
    
	.align {
		flex-direction: column;
		display: flex;
		align-items: center;
		width: 170px;
	}
	.text {
		color: #00ffe5;
		font-size: 50px;
        line-height: 20px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 200px;
	}
	

	.text2 {
		color: #00ffe5;
		font-size: 90px;
        line-height: 50px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 0px;
		margin-bottom: 0px; 
	}

	.text3 {
		color: #00ffe5;
		font-size: 85px;
        line-height: 320px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 25px;
	}

	.text4 {
		color: #00ffe5;
		font-size: 90px;
        line-height: 320px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 25px;
	}

	.text5 {
		color: #00ffe5;
		font-size: 90px;
        line-height: 320px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 25px;
	}
	.mini-text {
		color: #eeeeee;
		font-size: 35px;
        line-height: 35px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 30px; 
		
	}
    
	.mini-text2 {
		color: #eeeeee;
		font-size: 35px;
        line-height: 200px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-bottom: 130px; 
	}
    
	.mini-text3 {
		color: #eeeeee;
		font-size: 35px;
		text-align: center;
        line-height: 35px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-bottom: 100px;  
	}

	.mini-text4 {
		color: #eeeeee;
		font-size: 35px;
		text-align: center;
        line-height: 35px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-bottom: 100px;  
	}

	.mini-text5 {
		color: #eeeeee;
		font-size: 35px;
		text-align: center;
        line-height: 35px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-bottom: 100px;  
	}

	.content {
        display:flex;
		flex-direction: column;
        align-items: center;
        justify-content: center;
		width: 100%;
		height: 100%;
    }

	.content2 {
        display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
    }

	.content3 {
        display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
    }

	.content4 {
        display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
    }

	.content5 {
        display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
    }
	.iconitze {
		display: flex;
		gap: 200px;
		justify-content: center;
		align-items: center;
	}
</style>
