---
import Button from '../components/Button.astro';
import Disc from '../components/Disc.astro';
import Icons from '../components/Icons.astro';
import Layout from '../layouts/Layout.astro';
---
<!DOCTYPE html>
<Layout>
	<main>
		<Disc bg="home.discover/discover1.png">
			<div class="content">
				<div class="logogo">
					<img class="logo" src="/siege logo/r6s-y6-logo.webp">
				</div>
				<div class="title text">"ONE OF THE BEST FIRST-PERSON SHOOTERS EVER MADE. 10/10"</div>
				<div class="subtitle mini-text">GAMESPOT</div>
			</div>
		</Disc>
		<Disc bg="home.discover/discover2.png">
			<div class="content">
				<div class="title big text2">OUTPLAN TO OUTPLAY</div>
			    <div class="subtitle mini-text2">Elite, realistic, tactical team-based shooter where superior planning and execution triumphs.​</div>
			    <div class="subtitle mini-text3">5V5 ATTACK VS. DEFENSE <br>INTENSE CLOSE-QUARTER COMBAT<br> DESTRUCTIBLE ENVIRONMENTS​</div>
			    <Icons gap={150}  size={50}>

				    <div class="align"> <img class="ico" src="/home.discover/discover-ico-op.png">
                     	<div class="info-nr">65+ OPERATORS</div>
					</div>
                 
					<div class="align" > <img class="ico" src="/home.discover/discover-ico-map.png">
					 	<div class="info-nr">20+ MAPS</div>
				    </div>

					<div class="align" > <img class="ico" src="/home.discover/discover-ico-weapon.png">
						<div class="info-nr">20+ MAPS</div>
				   </div>

				</Icons>
			</div>
		</Disc>
		<Disc bg="home.discover/discover3.png">
			<div class="content">
				<div class="title big text3">ATTACK VS. DEFENSE</div>
				<div class="subtitle mini-text4">Choose from over 65 operators, each with unique gadgets and customizable weapon loadouts.​</div>
				<Button href="/operators">VIEW ALL OPERATORS</Button>
			</div>
			
		</Disc>
		<Disc bg="home.discover/discover4.png">
			<div class="content">
				<div class="title big text4">RAINBOW SIX ESPORTS</div>
				<div class="subtitle mini-text5">Gathering the best professional players, our esports program hosts regional leagues and international competitions throughout the year.​</div>
				<Button href="https://www.ubisoft.com/en-eu/esports/rainbow-six/siege">LEARN MORE</Button>
			</div>
			
		</Disc>
		<Disc bg="home.discover/discover5.png">
			<div class="content">
				<div class="title big text5">JOIN MORE THAN 85 MILLION PLAYERS</div>
				<div class="subtitle mini-text6">BUY RAINBOW SIX SIEGE ON:​</div>
				<Icons gap={50} size={50}>
					<Button href="https://store.ubisoft.com/ie/tom-clancy-s-rainbow-six-siege-deluxe-edition/5e15a2665cdf9a1ec45ad82b.html?lang=en-ZW&ucid=UWB-ID_151373&addinfo=Gamesite_Rainbow%20Six%20Siege_game%20info_discover_main_promotion_buy_order_pc_">
						<img class="icon" src="/home.discover/discover-ico-pc.png">PC
					</Button>
					<Button href="https://store.playstation.com/en-ro/product/EP0001-PPSA01397_00-RB6SIEGEDELUXE08/">
						<img class="icon" src="/home.discover/discover-ico-ps.png">PLAYSTATION
					</Button>
					<Button  href="https://www.xbox.com/ro-RO/games/store/tom-clancys-rainbow-six-siege-deluxe-edition/9pg9g25lskf7">
						<img class="icon" src="/home.discover/discover-ico-xbox.png">XBOX
					</Button>
				</Icons>
			</div>
		</Disc>
	</main>
</Layout>

<style>
    main {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	
    .logogo{
		line-height: 360px;
		z-index: 1;
		margin-top: 25px;
	}

	.icon {
		width: 60px;
		size: 10px;
	}
    
	.logo{
		width: 700px;
	}

	.info-nr{
		color: #eeeeee;
		font-size: 35px;
		text-align: center;
        line-height: 35px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		margin-top: 0px; 
		letter-spacing: 0.5px;
	}
    
	.align {
		flex-direction: column;
		display: flex;
		align-items: center;
		width: 180px;
	}

	.align2 {
		flex-direction: column;
		display: flex;
		align-items: center;
		width: 120px;
	}


	.title {
		font-size: 50px;
		color: #00ffe5;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
	}

	.subtitle {
		font-size: 35px;
		color: #eeeeee;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
		letter-spacing: 0.5px;
		line-height: 30px;
		text-align: center;
	}

	.big {
		font-size: 90px;
	}

	.text {
		margin-top: 100px;
	}


	.text2 {
		margin-bottom: 10px;
	}

	.text4 {
		margin: 50px;
	}

	.text5 {
		margin-bottom: 100px;
	}

	.mini-text {
		margin-top: 10px; 
	}
    
	.mini-text2 {
		margin-bottom: 110px; 
	}
    
	.mini-text3 {
		margin-bottom: 30px;
	}

	.mini-text4 {
		height: 640px;
		padding: 20px 60px;
	}

	.mini-text5 {
		height: 640px;
		padding: 20px 60px;
	}

	.mini-text6 {
		margin-bottom: 60px; 
		padding-top:250px;
		margin-bottom: 150px;
		height: 120px;
	}
	.content {
        display:flex;
		flex-direction: column;
        align-items: center;
        justify-content: center;
		width: 100%;
		height: 100%;
    }

</style>
