---
export interface Props {
	title: string;
	name: string;
	href: string;
}

const { href, title, name } = Astro.props;

---

<li class="link-card">
	<a href={href}>
		<div>{title}</div>
		<img class="icon" src={"operator icon photo/"+name+"-icon.png"}>
		<img class="op" src={"operator main photo/"+name+".png"}>
	</a>
</li>
<style>
	.icon {
		display: absolute;
		width: 4em;
		z-index: 1;
	}
	.link-card {
		list-style: none;
		display: flex;
		width: 8rem;
		height: 13.343rem;
		/* border-radius: 10px; */
		background-image: var(--accent-gradient);
		background-size: 200%;
		background-position: 100%;
		background-color: rgba(142, 138, 160, 0.24);
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1), scale 0.2s;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.253), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card:hover {
		scale:1.1;
		background-color:rgb(38, 20, 58);
	}

	.link-card > a {
		position: relative;
		width: 100%;
		text-decoration: none;
		color: #111;
		/* background-color: rgba(110, 99, 153, 0.89); */
		/* border-radius: 10px; */
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	div {
		color: rgb(20, 20, 22);
		font-size: 1.45rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		background-color: rgb(170, 158, 182);
		width: 100%;
		text-align: center;
		z-index: 1;
	}
	.op {
		width: 100%;
		position: absolute;
		z-index: 0;
		/* border-radius: 10px; */
	}
</style>
