---
export interface Props {
	gadget: string;
    invert?: boolean;
}

const { gadget, invert } = Astro.props;
let test = gadget.toString().replaceAll("_"," ");
---

<div>
    <p>{test}</p>
    <img src={`../weapon_icons/${gadget}.png`} style={{ filter: invert ? "invert(100%);" : "none" }}>
</div>

<style>
    div {
        width: 350px;
        background-color: #666;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 320px;
    }   

    P {
        font-size: 1.6em;
    }
</style>
