---
export interface Props {

gap: number;
width?: number;
}

const { gap, width } = Astro.props;
---
<div class="iconitze" style={{gap: `${gap}px`, width:width ? `${width}px`:"initial"}}>
    <slot></slot>
</div>

<style>

.iconitze {
	display: flex;
	gap: 200px;
	justify-content: center;
	align-items: center;
	filter:  drop-shadow(3px 3px 3px #151d30);
}
</style>
