---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';


---
<Layout>
	<main>
		<h1><span class="text-gradient">OPERATORS</span></h1>
		<div>
		    <h2><img class="iconitza" src="/siege logo/attacker.svg"> <p>ATTACKER</p></h2>
	    </div>
		<ul1 role="list" class="link-card-grid">
			<Card
				href="operators/SLEDGE"
				title="SLEDGE"
				name="r6-sledge"
			/>
			<Card
				href="operators/THACHER"	
				title="THACHER"
				name="r6-thatcher"
			/>
			<Card
				href="operators/ASH"
				title="ASH"
				name="r6-ash"
			/>
			<Card
				href="operators/THERMITE"
				title="THERMITE"
				name="r6-thermite"
			/>
			<Card
				href="operators/TWITCH"
				title="TWITCH"
				name="r6-twitch"
			/>
			<Card
				href="operators/MONTAGNE"
				title="MONTAGNE"
				name="r6-montagne"
			/>
			<Card
				href="operators/GLAZ"
				title="GLAZ"
				name="r6-glaz"
			/>
			<Card
				href="operators/FUZE"
				title="FUZE"
				name="r6-fuze"
			/>
			<Card
				href="operators/BLITZ"
				title="BLITZ"
				name="r6-blitz"
			/>
			<Card
				href="operators/IQ"
				title="IQ"
				name="r6-iq"
			/>
			<Card
				href="operators/BUCK"
				title="BUCK"
				name="r6-buck"
			/>
			<Card
				href="operators/BLACKBEARD"
				title="BLACKBEARD"
				name="r6-blackbeard"
			/>
			<Card
				href="operators/CAPITAO"
				title="CAPITAO"
				name="r6-capitao"
			/>
			<Card
				href="operators/HIBANA"
				title="HIBANA"
				name="r6-hibana"
			/>
			<Card
				href="operators/JACKAL"
				title="JACKAL"
				name="r6-jackal"
			/>
			<Card
				href="operators/YING"
				title="YING"
				name="r6-ying"
			/>
			<Card
				href="operators/ZOFIA"
				title="ZOFIA"
				name="r6-zofia"
			/>
			<Card
				href="operators/DOKKAEBI"
				title="DOKKAEBI"
				name="r6-dokkaebi"
			/>
			<Card
				href="operators/LION"
				title="LION"
				name="r6-lion"
			/>
			<Card
				href="operators/FINKA"
				title="FINKA"
				name="r6-finka"
			/>
			<Card
				href="operators/MAVERICK"
				title="MAVERICK"
				name="r6-maverick"
			/>
			<Card
				href="operators/NOMAD"
				title="NOMAD"
				name="r6-nomad"
			/>
			<Card
				href="operators/GRIDLOCK"
				title="GRIDLOCK"
				name="r6-gridlock"
			/>
			<Card
				href="operators/NOKK"
				title="NOKK"
				name="r6-nokk"
			/>
			<Card
				href="operators/AMARU"
				title="AMARU"
				name="r6-amaru"
			/>
			<Card
				href="operators/KALI"
				title="KALI"
				name="r6-kali"
			/>
			<Card
				href="operators/IANA"
				title="IANA"
				name="r6-iana"
			/>
			<Card
				href="operators/ACE"
				title="ACE"
				name="r6-ace"
			/>
			<Card
				href="operators/ZERO"
				title="ZERO"
				name="r6-zero"
			/>
			<Card
				href="operators/FLORES"
				title="FLORES"
				name="r6-flores"
			/>
			<Card
				href="operators/OSA"
				title="OSA"
				name="r6-osa"
			/>
			<Card
				href="operators/SENS"
				title="SENS"
				name="r6-sens"
			/>
			<Card
				href="operators/GRIM"
				title="GRIM"
				name="r6-grim"
			/>
			<Card
				href="operators/BRAVA"
				title="BRAVA"
				name="r6-brava"
			/>
		</ul1>
		<div>
			<h2> <img class="iconitza" src="/siege logo/defender.svg"> <p>DEFENDER</p></h2>
		</div>
		<ul2 role="list" class="link-card-grid">
			<Card
				href="operators/SMOKE"
				title="SMOKE"
				name="r6-smoke"
			/>
			<Card
				href="operators/MUTE"
				title="MUTE"
				name="r6-mute"
			/>
			<Card
				href="operators/CASTLE"
				title="CASTLE"
				name="r6-castle"
			/>
			<Card
				href="operators/PULSE"
				title="PULSE"
				name="r6-pulse"
			/>
			<Card
				href="operators/DOC"
				title="DOC"
				name="r6-doc"
			/>
			<Card
				href="operators/ROOK"
				title="ROOK"
				name="r6-rook"
			/>
		
			<Card
				href="operators/KAPKAN"
				title="KAPKAN"
				name="r6-kapkan"
			/>
			<Card
				href="operators/TACHANKA"
				title="TACHANKA"
				name="r6-tachanka"
			/>
			<Card
				href="operators/JAGER"
				title="JAGER"
				name="r6-jager"
			/>
			<Card
				href="operators/BANDIT"
				title="BANDIT"
				name="r6-bandit"
			/>
			<Card
				href="operators/FROST"
				title="FROST"
				name="r6-frost"
			/>
			<Card
				href="operators/VALKYRIE"
				title="VALKYRIE"
				name="r6-valkyrie"
			/>
			<Card
				href="operators/CAVEIRA"
				title="CAVEIRA"
				name="r6-caveira"
			/>
			<Card
				href="operators/ECHO"
				title="ECHO"
				name="r6-echo"
			/>
			<Card
				href="operators/MIRA"
				title="MIRA"
				name="r6-mira"
			/>
			<Card
				href="operators/LESION"
				title="LESION"
				name="r6-lesion"
			/>
			<Card
				href="operators/ELA"
				title="ELA"
				name="r6-ela"
			/>
			<Card
				href="operators/VIGIL"
				title="VIGIL"
				name="r6-vigil"
			/>
			<Card
				href="operators/MAESTRO"
				title="MAESTRO"
				name="r6-maestro"
			/>
			<Card
				href="operators/ALIBI"
				title="ALIBI"
				name="r6-alibi"
			/>
			<Card
				href="operators/CLASH"
				title="CLASH"
				name="r6-clash"
			/>
			<Card
				href="operators/KAID"
				title="KAID"
				name="r6-kaid"
			/>
			<Card
				href="operators/MOZZIE"
				title="MOZZIE"
				name="r6-mozzie"
			/>
			<Card
				href="operators/WARDEN"
				title="WARDEN"
				name="r6-warden"
			/>
			<Card
				href="operators/GOYO"
				title="GOYO"
				name="r6-goyo"
			/>
			<Card
				href="operators/WAMAI"
				title="WAMAI"
				name="r6-wamai"
			/>
			<Card
				href="operators/ORYX"
				title="ORYX"
				name="r6-oryx"
			/>
			<Card
				href="operators/MELUSI"
				title="MELUSI"
				name="r6-melusi"
			/>
			<Card
				href="operators/ARUNI"
				title="ARUNI"
				name="r6-aruni"
			/>
			<Card
				href="operators/THUNDERBIRD"
				title="THUNDERBIRD"
				name="r6-thunderbird"
			/>
			<Card
				href="operators/THORN"
				title="THORN"
				name="r6-thorn"
			/>
			<Card
				href="operators/AZAMI"
				title="AZAMI"
				name="r6-azami"
			/>
			<Card
				href="operators/SOLIS"
				title="SOLIS"
				name="r6-solis"
			/>
		
		</ul2>
	</main>
</Layout>

<style>
    
	.op_title {
		
		color: #EDF0F1;
		opacity: 90%;
        padding:30px;
		font-size:50px;
	}

	div {
		margin-top: 100px;
		margin-bottom:60px;
	}

	body {
        background-image: url(background/background.jpg);
        background-repeat: repeat-y;
        background-size: contain;
    }

	ul1 {
		display:table-row;
		flex-wrap: wrap;
		justify-content: center;
		align-self: center;
		padding:50px;
		gap: 1em;
	}
 
	ul2 {
		display:table-row;
		flex-wrap: wrap;
		justify-content: center;
		align-self: center;
		padding:50px;
		gap: 1em;
		margin-bottom:100px;
	}

	main {
		display: flex;
		flex-direction:column;
		align-items: center;
		padding: 1.5rem;
		max-width: auto;
		margin-top:100px;
        margin-bottom:200px;
        margin-left:200px;
        margin-right:200px;
	}
   
	h1 {
		font-size: 5rem;
		font-weight: 800;
		margin:20px;
		margin-bottom: 0px;
		margin-top: 50px;
		align-self: center;
		max-width: auto;
	}

	h2 {
		display:flex ;
		gap: 8px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
	    
	}
	p{
		color: #EDF0F1;
		font-size:65px;
		padding-bottom: 5px;
	}

	.iconitza {
        width: 48px;
		filter: invert(100%) drop-shadow(2px 2px 2px #151d30);
	}

	.text-gradient {

		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		filter: drop-shadow(2px 2px 2px #151d30);

	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgb(255, 255, 255);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

	.instructions strong {
		color: rgb(var(--accent));
	}

	.link-card-grid {
		display: flex;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	
</style>
