---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';


---
<Layout>
	<main>
		<h1><span class="text-gradient">OPERATORS</span></h1>
		<div>
		    <h2><span class="op_title">ATTACKERS</span></h2>
	    </div>
		<ul1 role="list" class="link-card-grid">
			<Card
				href="operators/Sledge"
				title="SLEDGE"
				name="r6-sledge"
			/>
			<Card
				href="operators/Thatcher"	
				title="THACHER"
				name="r6-thatcher"
			/>
			<Card
				href="operators/Ash"
				title="ASH"
				name="r6-ash"
			/>
			<Card
				href="#"
				title="THERMITE"
				name="r6-thermite"
			/>
			<Card
				href="#"
				title="TWITCH"
				name="r6-twitch"
			/>
			<Card
				href="#"
				title="MONTAGNE"
				name="r6-montagne"
			/>
			<Card
				href="#"
				title="GLAZ"
				name="r6-glaz"
			/>
			<Card
				href="#"
				title="FUZE"
				name="r6-fuze"
			/>
			<Card
				href="#"
				title="BLITZ"
				name="r6-blitz"
			/>
			<Card
				href="#"
				title="IQ"
				name="r6-iq"
			/>
			<Card
				href="#"
				title="BUCK"
				name="r6-buck"
			/>
			<Card
				href="#"
				title="BLACKBEARD"
				name="r6-blackbeard"
			/>
			<Card
				href="#"
				title="CAPITAO"
				name="r6-capitao"
			/>
			<Card
				href="#"
				title="HIBANA"
				name="r6-hibana"
			/>
			<Card
				href="#"
				title="JACKAL"
				name="r6-jackal"
			/>
			<Card
				href="#"
				title="YING"
				name="r6-ying"
			/>
			<Card
				href="#"
				title="ZOFIA"
				name="r6-zofia"
			/>
			<Card
				href="#"
				title="DOKKAEBI"
				name="r6-dokkaebi"
			/>
			<Card
				href="#"
				title="LION"
				name="r6-lion"
			/>
			<Card
				href="#"
				title="FINKA"
				name="r6-finka"
			/>
			<Card
				href="#"
				title="MAVERICK"
				name="r6-maverick"
			/>
			<Card
				href="#"
				title="NOMAD"
				name="r6-nomad"
			/>
			<Card
				href="#"
				title="GRIDLOCK"
				name="r6-gridlock"
			/>
			<Card
				href="#"
				title="NOKK"
				name="r6-nokk"
			/>
			<Card
				href="#"
				title="AMARU"
				name="r6-amaru"
			/>
			<Card
				href="#"
				title="KALI"
				name="r6-kali"
			/>
			<Card
				href="#"
				title="IANA"
				name="r6-iana"
			/>
			<Card
				href="#"
				title="ACE"
				name="r6-ace"
			/>
			<Card
				href="#"
				title="ZERO"
				name="r6-zero"
			/>
			<Card
				href="#"
				title="FLORES"
				name="r6-flores"
			/>
			<Card
				href="#"
				title="OSA"
				name="r6-osa"
			/>
			<Card
				href="#"
				title="SENS"
				name="r6-sens"
			/>
			<Card
				href="#"
				title="GRIM"
				name="r6-grim"
			/>
			<Card
				href="#"
				title="BRAVA"
				name="r6-brava"
			/>
		</ul1>
		<div>
			<h3><span class="op_title">DEFENDER</span></h3>
		</div>
		<ul2 role="list" class="link-card-grid">
			<Card
				href="#"
				title="SMOKE"
				name="r6-smoke"
			/>
			<Card
				href="#"
				title="MUTE"
				name="r6-mute"
			/>
			<Card
				href="#"
				title="CASTLE"
				name="r6-castle"
			/>
			<Card
				href="#"
				title="PULSE"
				name="r6-pulse"
			/>
			<Card
				href="#"
				title="KAPKAN"
				name="r6-kapkan"
			/>
			<Card
				href="#"
				title="TACHANKA"
				name="r6-tachanka"
			/>
			<Card
				href="#"
				title="JAGER"
				name="r6-jager"
			/>
			<Card
				href="#"
				title="BANDIT"
				name="r6-bandit"
			/>
			<Card
				href="#"
				title="IQ"
				name="r6-iq"
			/>
			<Card
				href="#"
				title="BUCK"
				name="r6-buck"
			/>
			<Card
				href="#"
				title="BLACKBEARD"
				name="r6-blackbeard"
			/>
			<Card
				href="#"
				title="CAPITAO"
				name="r6-capitao"
			/>
			<Card
				href="#"
				title="HIBANA"
				name="r6-hibana"
			/>
			<Card
				href="#"
				title="JACKAL"
				name="r6-jackal"
			/>
			<Card
				href="#"
				title="YING"
				name="r6-ying"
			/>
			<Card
				href="#"
				title="ZOFIA"
				name="r6-zofia"
			/>
			<Card
				href="#"
				title="DOKKAEBI"
				name="r6-dokkaebi"
			/>
			<Card
				href="#"
				title="LION"
				name="r6-lion"
			/>
			<Card
				href="#"
				title="FINKA"
				name="r6-finka"
			/>
			<Card
				href="#"
				title="MAVERICK"
				name="r6-maverick"
			/>
			<Card
				href="#"
				title="NOMAD"
				name="r6-nomad"
			/>
			<Card
				href="#"
				title="GRIDLOCK"
				name="r6-gridlock"
			/>
			<Card
				href="#"
				title="NOKK"
				name="r6-nokk"
			/>
			<Card
				href="#"
				title="AMARU"
				name="r6-amaru"
			/>
			<Card
				href="#"
				title="KALI"
				name="r6-kali"
			/>
			<Card
				href="#"
				title="IANA"
				name="r6-iana"
			/>
			<Card
				href="#"
				title="ACE"
				name="r6-ace"
			/>
			<Card
				href="#"
				title="ZERO"
				name="r6-zero"
			/>
			<Card
				href="#"
				title="FLORES"
				name="r6-flores"
			/>
			<Card
				href="#"
				title="OSA"
				name="r6-osa"
			/>
			<Card
				href="#"
				title="SENS"
				name="r6-sens"
			/>
			<Card
				href="#"
				title="GRIM"
				name="r6-grim"
			/>
			<Card
				href="#"
				title="BRAVA"
				name="r6-brava"
			/>
		</ul2>
	</main>
</Layout>

<style>
    
	.op_title {
		
		color: #EDF0F1;
		opacity: 90%;
        padding:30px;
		font-size:50px;
	}

	div {
		margin-top: 100px;
		margin-bottom:60px;
	}

	body {
        background-image: url(background/background.jpg);
        background-repeat: repeat-y;
        background-size: contain;
    }

	ul1 {
		display:table-row;
		flex-wrap: wrap;
		justify-content: center;
		align-self: center;
		padding:50px;
		gap: 1em;
	}
 
	ul2 {
		display:table-row;
		flex-wrap: wrap;
		justify-content: center;
		align-self: center;
		padding:50px;
		gap: 1em;
		margin-bottom:100px;
	}

	main {
		display: flex;
		flex-direction:column;
		align-items: center;
		padding: 1.5rem;
		max-width: auto;
	}

	h1 {
		font-size: 5rem;
		font-weight: 800;
		margin:20px;
		margin-bottom: 60px;
		align-self: center;
		max-width: auto;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;

	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgb(255, 255, 255);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

	.instructions strong {
		color: rgb(var(--accent));
	}

	.link-card-grid {
		display: flex;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	
</style>
