---
import Layout from '../../layouts/Layout.astro';
import CardProvider from '../../components/CardProvider.svelte';
---
<Layout>
	<main>
		<h1><span class="text-gradient">OPERATORS</span></h1>
			<CardProvider client:load></CardProvider>
	</main>
</Layout>

<style>
    
	.op_title {
		
		color: #EDF0F1;
		opacity: 90%;
        padding:30px;
		font-size:50px;
	}

	div {
		margin-top: 100px;
		margin-bottom:60px;
	}

	body {
        background-image: url(background/background.jpg);
        background-repeat: repeat-y;
        background-size: contain;
		overflow-x:hidden;
    }

	ul1 {
		display:table-row;
		flex-wrap: wrap;
		justify-content: center;
		align-self: center;
		padding:50px;
		gap: 1em;
	}
 
	ul2 {
		display:table-row;
		flex-wrap: wrap;
		justify-content: center;
		align-self: center;
		padding:50px;
		gap: 1em;
	}

	main {
		display: flex;
		flex-direction:column;
		align-items: center;
		padding: 1.5rem;
		max-width: auto;
		padding-top: 100px;
        margin-left:200px;
        margin-right:200px;
	}
   
	h1 {
		font-size: 5rem;
		font-weight: 800;
		margin:20px;
		margin-bottom: 0px;
		margin-top: 50px;
		align-self: center;
		max-width: auto;
	}

	h2 {
		display:flex ;
		gap: 8px;
		text-shadow: 0 0 3px #151d30, 0 0 3px #151d30, 0 0 3px #151d30;
	    
	}
	p{
		color: #EDF0F1;
		font-size:65px;
		padding-bottom: 5px;
	}

	.iconitza {
        width: 48px;
		filter: invert(100%) drop-shadow(2px 2px 2px #151d30);
	}

	.text-gradient {

		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		filter: drop-shadow(2px 2px 2px #151d30);

	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgb(255, 255, 255);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

	.instructions strong {
		color: rgb(var(--accent));
	}

	.link-card-grid {
		display: flex;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	
</style>
