
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.m.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Rainbow six siege</title>
	</head>
	<body>
		<nav>
            <img class="logoM" src="logo.M.webp" alt="logo">
            <ul class="nav___links">
			    <li><a href="/">Home</a></li>
				<li><a href="/operators">Operators</a></li>
				<li><a href="#">Maps</a></li>
				<li><a href="#">Boosting</a></li>
			</ul>
            <a class="login" href="#"><button>Login</button></a>
		</nav>
        <slot>
        </slot>
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, #ffffff 60%);
	}
	html {
		font-family: 'Inconsolata', sans-serif;
		background-color: #1f1e22;
	}
	code {
		font-family: 'Inconsolata', sans-serif;
	}
	* {  
       box-sizing: border-box;
       margin: 0;
	   padding: 0;
	   height: auto;
    }

  li, a, button {
	   font-family: 'Inconsolata', monospace;
       font-weight: 500;
       font size: 30px;
       color: #edf0f1;
       text-decoration: none;
  }

  nav {
      display: flex;
      justify-content: space-between;
	  align-items: center;
	  padding: 5px 10%;
      background-color: #24252A;
  }

  .logo {
      cursor: pointer;
  }

  .nav___links {
      list-style: none;
  }

  .nav___links li{   
	  display: inline-block;
      padding: 0px 20px;
  }

  .nav___links li a {
      transition: all 0.3s ease 0;
  }

  .nav___links li a:hover {
      color: #9ba9e9;
  }

  button {
      padding: 10px 25px;
      background-color: rgb(61, 66, 99);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0;
  }
  button:hover{ 
      background-color:rgb(126, 129, 158);
      transition: all 0.3s ease 0;
  }

</style>
